<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
  </head>
  <body>
        <div class='row'>
            <div class='col-md-12'>
                <% include header.ejs %>
            </div>
        </div>
        <div class='wrap-content'>
            <div class='row'>
                <div class='col-md-12'>
                    <h1>ARAM</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <% include menu.ejs %>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-8'>
                    <div class='border'>
                        <h1>Content Area</h1>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='border'>
                        <h1>New Events</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <% include footer.ejs %>
            </div>
        </div>
  </body>

  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/ajax.js"></script>    
  <script type="text/javascript" src="/javascripts/helper.js"></script> 
  <script src="/js/bootstrap.js"></script>
  <script type="text/javascript">
      $('.navigation').removeClass('active');
      $('.faq').addClass('active');
  </script>
</html>