<div class="hero-unit">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">     
        <div class="nav-collapse">
          <ul class="nav" id="menu">
           <li class="home"><a href="/">Home</a></li> 
           <li class="registration "><a href="/registration">Registration</a></li> 
           <li class="dropdown navigation" id="menu1">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
               Login
                <b class="caret"></b>
             </a>
             <div class="dropdown-menu">
              <form style="margin: 0px" accept-charset="UTF-8" action="/sessions" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                 <fieldset class='textbox' style="padding:10px">
                   <input style="margin-top: 8px" type="text" placeholder="EmilId" id='email'/>
                   <input style="margin-top: 8px" type="password" placeholder="Passsword" id='password'/>
                   <input class="btn-primary" name="commit" type="button" value="Log In" onClick="login()"/>
                 </fieldset>
               </form>
             </div>
           </li> 
          </ul>
        </div>
      </div>
    </div>
  </div>  
 <h1>ARAM</h1>
</div>