<div class="row">
  <div class="col-md-12">
      <nav class="navbar navbar-inverse" role="navigation">
       <ul class="nav navbar-nav" style="float:left">
         <li class="navigation home active"><a href="/">Home</a></li>
         <li class="navigation about active"><a href="/about">About Us</a></li>
       </ul>
       <%if (!isValidUser) {%>
      <form class="navbar-form" role="form" style="float:right">
          <div id="login-error" class="alert alert-danger" style="visibility:hidden; float:left">
            Invalid Username / Password
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </div>

          <input type="button" value="Login" class="btn" onClick="login()"/>
      </form>
       <% } %>
       <%if (isValidUser) {%>
            <div class="navbar-form"  style="float:right">
              <span id="display_name"></span>
              <input type="button" value="Logout" class="btn" onClick="logout()"  id="logout_btn"/>
            </div>
       <% } %>
      </nav>
  </div>
</div>
