<div class="hero-unit" style="padding: 50px 0px 15px 50px; overflow: hidden;">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">     
        <div class="nav-collapse ">
          <ul class="nav" id="menu">
           <li class="home menu"><a href="/">Home</a></li> 
           <li class="menu"><a href="/registration">Registration</a></li> 
           <li class=" menu"><a href="/about">Registration</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>  
 <h1 class="cls_aramPageName" style="display:inline-block;float: left;">ARAM</h1>
 <h3 id="id_aramPageTitle" class="cls_aramPageTitle"></h3>
</div>