<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>    
  </head>
  <body>
  	<div>
  		<div>
  			<h1>ARAM</h1>
  			<form  id="login_form">
			    <input type="text" placeholder="Email" id="email">
			    <input type="password" placeholder="Password" id="password">
		    	<button type="button" onClick="login()">Sign in</button>
		    </form>
	  	</div>
    </div>
  </body>
</html>