<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <sript type="text/javascript" src="./javascripts/bootstap.js"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  	<div class='container'>
  		<div class="hero-unit">
  			<h1>ARAM</h1>
  		</div>
	  	<form class="form-inline">
	    <input type="text" class="input-small" placeholder="Email">
	    <input type="password" class="input-small" placeholder="Password">
	    <label class="checkbox">
	    <input type="checkbox"> Remember me
	    </label>
	    <button type="submit" class="btn">Sign in</button>
	    </form>
    </div>
  </body>
</html>