<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <sript type="text/javascript" src="./javascripts/bootstap.js"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  	<div class='container'>
  		<div class="hero-unit">
  			<h1>ARAM</h1>
  			<form class="form-inline">
		    <input type="text" class="input-small" placeholder="Email" id="email">
		    <input type="password" class="input-small" placeholder="Password" id="password">
		    <button type="submit" class="btn">Sign in</button>
		    </form>
	  	</div>
    </div>
  </body>
</html>