<nav class="navbar menu-border" role="navigation">
    <ul class="nav nav-pills">
        <li class="navigation home"><a href="/">Home</a></li>
        <li class="navigation gallery"><a href="/gallery">Gallery</a></li>
        <li class="navigation contactus"><a href="/contactus">Contact Us</a></li>
        <li class="navigation about"><a href="/about">About Us</a></li>
    </ul>
</nav>
