<!DOCTYPE html>
<html>
  <head>
    <title>Aram_Registration</title>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>    
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  </head>
  <body>
  	<article class="container">
  		<div class="hero-unit">
  			<h1>ARAM</h1>
	  	</div>   
    </article>
  </body>
</html>