<div class='row'>
    <div class='col-md-12'>
        <span class='glyphicon glyphicon-bell'></span>
        <span class='bold'>New Events</span>
    </div>
</div>

<div class='row border'>
    <div class='col-md-3'>
        <span> This Place will be used for upcoming events</span>
    </div>
    <div class='col-md-9'>
        <marquee onmouseover="this.stop();" onmouseout="this.start();" scrolldelay=200 direction=up>
            <a>
                <span>This Area is left for updating new events.  We need </span>
                <%if (isValidUser) {%>
                    <span style="font-weight:bold; color: #ff9900;"> <%= username %></span>
                <% } %>

                <%if (!isValidUser) {%>
                    <span style="font-weight:bold; color: #428bca;"> your </span>
                <% } %>
                <span>support to update the site</span>
            </a>
        </marquee>
    </div>
</div>
<div class='row' style='padding:2px;'></div>
<div class='row'>
    <div class='col-md-12'>
        <span class='glyphicon glyphicon-book'></span>
        <span class='bold'>Thought of the day</span>
    </div>
</div>

<div class='row border'>
    <div class='col-md-12'>
        <a><span></span></a>
    </div>
</div>

